<!DOCTYPE HTML>
<html>
<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/Scripts/1.js"></script>
</head>
<body>    
    <div id="chartContainer" style="position: relative; top: 200px; height: 400px; width: 100%;"></div>
</body>
</html>
