<!DOCTYPE HTML>
<html>
<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function A() {
            var b = []
            $.getJSON("/Data/1.json", function (data) {
                $.each(data, function (key, value) {
                    if (value.IsBreakdown == true) {
                        b.push({ x: key + 1, y: value.Value, indexLabel: "changePoint", markerType: "circle", markerColor: "red" })
                    }
                    else { 
                        b.push({ x: key + 1, y: value.Value, indexLabel: "value", markerType: "circle", markerColor: "#6B8E23" })
                    }                    
                })
            })
            return b;
        }
        function enableChart() {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Share Value - 2016"
                },
                axisX: {
                    interval: 1,
                    intervalType: "month",
                    valueFormatString: "MMM"
                },
                axisY: {
                    title: "Price (in USD)",
                    valueFormatString: "$#0"
                },
                data: [{
                    type: "line",
                    markerSize: 12,
                    xValueFormatString: "MMM, YYYY",
                    yValueFormatString: "$###.#",
                    dataPoints: A()
                }]
            });
            chart.render();
        }
        $(document).ready(function () {
            $("#load").bind("click", function () {
                let _this = $("#file")[0];
                let file = new FormData();
                file.append('File', _this.files[0])
                $.ajax({
                    url: "/Home/Valid",
                    type: "POST",
                    data: file,
                    processData: false,
                    contentType: false,
                    success: function () { 
                        $("#chartContainer").css("visibility", "visible")
                    }
                })
            })
        })

        $(document).ready(function () {
            $("#count").bind("click", function () {
                return enableChart()
            })
        })    
    </script>
</head>
<body>
    <input type="file" id="file"/>
    <button id="load">Завантажити</button>
    <button id="count">Порахувати</button>
    <div id="chartContainer"></div>
    <link rel="stylesheet" href="~/styles.css" type="text/css" />
</body>
</html>